// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #D5D5D5;
@lighter-gray: #818181;
@light-gray: #5D8C4C;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #d1b4a7;
@blue: #9ADCFE;
@purple: #509CD7;
@green: #D19378;
@red: #509CD7;
@orange: #9ADCFE;
@light-orange: #f0dcb4;
